/*=========================================
Reset
=========================================== */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0} 
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.group:before,
.group:after { content: ""; display: table;} 
.group:after { clear: both;}
.group { zoom: 1;}

/*=========================================
General Spacing
=========================================== */
.post p,.post ul {
    max-width:600px;
    margin:0 auto;
}
.post p {
    margin-bottom:20px;
}
.post img {
    margin:0px auto 40px auto;
    position:relative;
    max-width:800px;
    width:100%;
}
.post img+img {
    margin-top: -20px;
}
/*=========================================
Base
=========================================== */
html,body {
    min-height:100%;
}

body {
    font:16px/1 "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#777;
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
    position: relative;
}

#wrapper {
    padding:40px 40px 100px 40px;
    margin:0;
}

#wrapper.post {
}

.slider {
    margin: 0;
    padding: 0;
}

nav {
    float: right;
}

img {
    max-width:100%;
}

#stuff_list li {
    list-style: none;
    margin-top: 15px;
    margin-left: 20px;
    font-size:13px;
}

#stuff_list {
    margin:0 0 25px 0;
    text-align:left;
}

#stuff_list a,#stuff_list a span {
    -webkit-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
    -ms-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition:all 0.2s ease;
}

#stuff_list a span {
    color:#222;
    font-weight:400;
}

#stuff_list .client {
    font-weight:200;
    display: none;
}

#stuff_list li:hover .client{
    display: inline;
}

#stuff_list a:hover {
    opacity:.85;
}

#stuff_list a:hover span {
    opacity:1;
    color: #3498db;
    visibility:visible;
}

#stuff_list a:hover .twitter {
    color: #55acee;
}
#stuff_list a:hover .tumblr {
    color: #44546B;
}
#stuff_list a:hover .dribbble {
    color: #EA4C89;
}
#stuff_list a:hover .instagram {
    color: #3F729B;
}

#footer { 
    padding: 40px 0 0 0;
    margin-top: 100px; position: relative;
}

#footer p {
    float: left;
}

/*=========================================
Typography
=========================================== */
/*Accent color*/
a   {
    text-decoration:none; 
    color:#3498db;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

ul  { margin:0; padding:0; }
li  { list-style-type:circle; list-style-position:inside; }

/* Line Height */
.post-body, p { line-height:1.7; }

h1 {
    display: inline-block;
    line-height:100%;
    color: #222;
    font-weight: 600;
    font-size: 18px;
    margin: 0;
    padding-bottom: 20px;
}

h3 {
    font-size:13px;
    font-weight:400;
    color:#bdc3c7;
    margin-bottom:6px;
}

h4 {
    font-size: 13px;
    font-weight: bold;
    color: #666;
    margin-bottom: 6px;
}

p.small { 
    color: #bbb; font-size: 14px; line-height: 1.5; 
    display: block;
}

/*=========================================
Post Page
=========================================== */
#header {
    margin-bottom:20px;
}

.post {
    margin-bottom:60px;
}

#post-meta {
    font-size:13px;
    font-weight:bold;
    color:#aaa;
    margin-bottom:40px;
    line-height:1.4;
    border-top:1px solid #eee;
    padding-top:40px;
    color:#444;
}

#post-meta div {
    display:inline-block;
}

#post-meta div span {
    color:#666;
    color:#333;
    color:#aaa;
    font-weight:500;
    display:block;
    margin-bottom:2px;
}

#post-meta div.date {
    float:right;
    text-align:right;
    position:relative;
    top:1px;
    font:300 20px/1.8 "Helvetica Neue",helvetica,Arial,sans-serif;
    color:#aaa;
}

#sharing {
    float:right;
    margin:-2px;
}

#sharing a {
    font-size:20px;
    font-size:23px;
    margin-left:2px;
    margin-top:4px;
    color:#d4d4d4;
    display:inline-block;
    vertical-align:middle;
}

#sharing a:hover {
    color: #444;
}

/*=========================================
Post Navigation
=========================================== */
#post-nav {
    border-top:1px solid #eee;
    text-align:center;
    padding-top:20px;
    font-size:13px;
    font-weight:500;
}

#post-nav span {
    -webkit-transition:all 0.1s linear;
    -moz-transition:all 0.1s linear;
    -ms-transition:all 0.1s linear;
    -o-transition:all 0.1s linear;
    transition:all 0.1s linear;
    position:relative;
}

#post-nav span.prev {
    float:left;
}

#post-nav span.next {
    float:right;
}

#post-nav span .arrow {
    position:relative;
    padding:1px;
}

#post-nav span.prev:hover .arrow {
    left:-4px;
}

#post-nav span.next:hover .arrow {
    right:-4px;
}

#post-nav span.prev:hover {
    left:-3px;
}

#post-nav span.next:hover {
    right: -3px;
}

@media screen and (max-width: 540px) {
#wrapper { padding: 20px 40px; }
#header { margin-bottom: 40px; }
h1 { font-size: 17px; }
#footer { margin-top: 40px; padding-bottom: 20px; }
}

@media screen and (max-width:440px) {
#thumbnails a:nth-child(n) {
width: 100%;
max-width: 300px;
margin: 0 auto;
margin-top: 20px;
display: inline-block;
float: none;
}

a#documentation { display: none; }
#thumbnails a:first-child { margin-top: 0; }
#header { text-align: center; margin-bottom: 0; }
#wrapper { padding:20px 20px 40px 20px; }
.post { margin-bottom: 40px; }
#footer { text-align: center; padding-bottom: 15px; }
}